
// contenaire du fonctionnement
.board {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
    margin: auto;
    padding: 80px 0px 40px 0px;
    @include desktop {
        width: 95%;
       
     }


    &__title {
        display: flex;
        justify-content: flex-start;
        font-size: 180%;

        @include desktop {
            margin-bottom: 30px;
        }  

    }
// fonctionnement étape
//bos qui contient les étapes
&__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    @include desktop {
        flex-direction: row;
        margin-bottom: 50px;
    }
// le contenue des étapes icone et description
    &__stage {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        position: relative;
       width: 100%;
//boite des chiffres
        &__path {
            @include flex;
            border: 2px solid $colour-primary;
            background-color: $colour-primary;
            border-radius: 40px;
            padding: 13px;
            margin-right: -12px;//position 
            width: 25px;
            height: 25px;
            z-index: 1;

            @include tablet {
                width: 35px;
                height: 35px;
            }

            &__first {
                font-size: 80%;
                color: white;

                @include tablet {
                    font-size: 100%;
                }
            }
        }
//parametre des icone
        &__icone {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            position: relative;
            width: 100%;
            height: 70px;
            padding-left: 50px;
            gap: 10%;
            font-size: 110%;
            font-weight: bold;
            border: 0;
            border-radius: 20px;
            background-color: $colour-Background;
            box-shadow: 1.5px 1.5px 10px -2px $colour-grey-1;

            @include tablet {
                height: 90px;
                padding-left: 70px;
                font-size: 130%;
            }
            i {
                color: $colour-primary;
            }

        }

        &__icone:hover {
            background-color: rgb(147, 86, 220, 0.3);
            box-shadow: 1.5px 1.5px 15px -2px $colour-grey-1;

          


        }
    }

}

}