.footer {
    padding: 10% 0% 10% 10%;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    font-weight: 300;
    margin-top: 15%;
    background-color: black;

    @include tablet {
        line-height: 60px;
        padding: 10%;

    }
    @include desktop {
       flex-direction: row-reverse;
       justify-content:right;
       align-items: flex-end;
       padding-right: 5%;
       gap: 40px;
        
     }
   


    &__logo {
        color: white;
        font-size: 150%;
        font-weight: 300;
        @extend .font_title;

        @include tablet {
            font-size: 180%;
            margin-bottom: 4%;
           
        }

    }

    &__container {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            gap: 40px;
        
            
         }

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @include desktop {                
                    flex-direction: row;
                    justify-content: space-evenly;
                    gap: 40px;
        
                
             }
        }

        a {
            cursor: pointer;
            color: white;
            font-size: 125%;

            @include tablet {
                font-size: 150%;
            }
        }

    }
}
