//texte après la localisation
.more {
    @include flex;
    flex-direction: column;
    background-color: $colour-Background;
    height: auto;

    &__propose {
        @include flex;
        flex-direction: column;
        
        &__argument {
            padding: 5% 0% 8% 0%;
            width: 90%;
            font-size: 130%;
            font-weight: 300;
            text-align: center;
        }
        &__reserve {
            padding-top: 10%;
            width: 70%;
            font-size: 170%;
            text-align: center;
        }
   
    }
}
//header du page la palette du gout

.palette {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0% 3% 0% 3%;
}
.fa-sharp.fa-solid.fa-arrow-left {
    color: black;
    font-size: 150%;
}
   
   
   

