// logo et header page accueuil
.head__logo {
    @include logo;
    @include flex;   
    @include desktop {
        padding: 1%;
        font-size: 140%;
    }
}
//police d'écriture du logo
.head__logo__font{
@extend .font_title;
}
//texte après la localisation
.more {
    @include flex;
    flex-direction: column;
    background-color: $colour-Background;
    height: auto;

    &__propose {
        @include flex;
        flex-direction: column;
        
        &__argument {
            padding: 5% 0% 8% 0%;
            width: 90%;
            font-size: 130%;
            font-weight: 300;
            text-align: center;
            @include desktop {
                width: 100%;
            }
        }
        &__reserve {
            padding-top: 10%;
            width: 70%;
            font-size: 170%;
            text-align: center;
            @include desktop {
                width: 100%;
            }
        }
   
    }
}
//header du page la palette du gout

.palette {
    @include header_page_menu ;
    @include desktop {
        padding: 1%;
        font-size: 140%;
    }

}
// fleche de retour à la page d'accueil
.fa-sharp.fa-solid.fa-arrow-left {
    color: black;
   
}




   
   

