:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;  
    --tertiary-color: #99E2D0;
    --quaternay-color: #353535;
}

.more__btn {
    @include flex;
    border: 0;
    border-radius: 40px;
    width: 60%;
    padding: 4% 0% 4% 0%; 
    cursor: pointer;
    transition: all .3s;
    box-shadow:  1.5px 1.5px 6px 0.1px  var(--quaternay-color);
    background: linear-gradient(to right bottom, var(--second-color) 0%, var(--main-color) 100%);  
    color: white;
    font-size: 110%;
    margin-bottom: 50px;
}  
.more__btn:hover { 
    transform: scale(1.02);
    box-shadow: 10px 10px 60px -20px  var(--quaternay-color);
    opacity: 0.8;
}
