:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --quaternay-color: #353535;
}

.more__btn {
    @include flex;
    @include button;
    margin-bottom: 50px;
    font-size: 110%;
    width: 60%;
}

.more__btn:hover {
   @include button_hover
}

// les coeur sur les image de resto


.fa-regular.fa-heart:hover {
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;

}

// les checkbox du plats menu ... point de suspension
.valid input {
    position: absolute;
    width: 15%;
    background-color: $colour-tertiary;
}

//bouton pour le check validation du menu
.dish__content__resto__menu__box__icon {
width: 0%;
transition: opacity 1s, width 1s;
    .fa-solid.fa-check {
        font-size: 1rem;
        color: #15DEA5;
        opacity: 0;
       

    }
}