:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --quaternay-color: #353535;
}
//bouton pour explorer les restaurants
.more__btn {
    @include flex;
    @include button;
    margin-bottom: 50px;
    font-size: 110%;
    width: 60%;
    @include tablet {
      font-size: 160%;  
      width: 45%;
      padding: 3% 0% 3% 0%;
    }
    @include desktop {
        font-size: 120%;
        width: 350px;        
        padding: 25px 0px 25px 0px;
    }
}

.more__btn:hover {
   @include button_hover
}

// les coeur sur les image de resto
/*.fa-regular.fa-heart {
    color: black!important;
    font-size: 3rem;
    transition: color 1s ease-in-out;
   
}
.fa-regular.fa-heart:hover {
    background: -webkit-linear-gradient(var(--main-color), var(--second-color));
   background-clip: text;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;//couleur de remplissage des textes
    font-weight: 900;
}*/
/* 
.fa-heart {
    color: black!important;
    font-size: 3rem;
    
}
.fa-heart::before {
    content: "\f004";
    transition: font-weight 3s ease-out;
}
.fa-heart:hover::before{
    background: -webkit-linear-gradient(var(--main-color), var(--second-color));
    background-clip: text;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;//couleur de remplissage des textes
     font-weight: 900;
    cursor: pointer;
}
*/
.fa-heart {
    color: black!important;
    font-size: 3rem;
    
}

@keyframes progressive-fill-heart{
    0%{
        background: -webkit-linear-gradient(0deg, white 80%,var(--main-color) 10%, var(--second-color) 10%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
    } 
    35%{
        background: -webkit-linear-gradient(0deg, white 50%,var(--main-color) 25%, var(--second-color) 25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.5;
    } 
    60%{
        background: -webkit-linear-gradient(0deg, white 25%,var(--main-color) 50%, var(--second-color) 25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.7;
    } 
    100%{
        background: -webkit-linear-gradient(var(--main-color), var(--second-color));
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        -webkit-text-fill-color: transparent;
        opacity: 1;
    }
}
.fa-heart:hover {
    background: -webkit-linear-gradient(var(--main-color), var(--second-color));
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;//couleur de remplissage des textes
    font-weight: 900;    
    animation: progressive-fill-heart 0.5s ease-in forwards;  
}
// bouton degrage valider la commande
.dish__content__resto__menu__btn {
    @include flex;
}
.btn {    
    @include button;
    margin: 100px 0px 40px 0px;
    width: 50%;
    font-size: 130%;
    @include tablet {
        width: 45%;
        font-size: 170%;
        padding: 2.5% 0% 2.5% 0%;
    }
    @include desktop {
        width: 25%; 
font-size: 150%;
padding: 1% 0% 1% 0%;
      }
}
.btn:hover {
    @include button_hover
 }

