$colour-primary: #9356dc;
$colour-secondary: #ff79da ;
$colour-tertiary: #99E2D0;
$colour-grey-2: #EAEAEA;
$colour-grey-1: #353535;
$colour-Background: #F6F6F6;
$colour-new: #008766;
$number-box: 10;
$animation-box-delay: 0.5s;