@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.font_title, .dish__content__resto__heart__palette, .head__logo__font, .footer__logo {
  font-family: "Shrikhand", sans-serif;
}

.dish {
  display: flex;
  flex-direction: column;
}
.dish img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (700px <= width <= 992px) {
  .dish img {
    height: 450px;
  }
}

.head__map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: #EAEAEA;
  min-width: 20%;
}
.head__map__icone {
  color: #353535;
  font-size: 120%;
  margin-left: 15%;
  padding-right: 8%;
}
.head__map__map {
  border: 1px solid #EAEAEA;
  background-color: #EAEAEA;
  font-size: 120%;
  font-weight: bold;
}
.head__map ::placeholder {
  color: #353535;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --quaternay-color: #353535;
}

.more__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 40px;
  padding: 4% 0% 4% 0%;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 6px 0.1px var(--quaternay-color);
  background: linear-gradient(to right bottom, var(--second-color) 0%, var(--main-color) 100%);
  color: white;
  margin-bottom: 50px;
  transform: scale(1);
  transition: all 0.5s;
  margin-bottom: 50px;
  font-size: 110%;
  width: 60%;
}
@media (700px <= width <= 992px) {
  .more__btn {
    font-size: 160%;
    width: 45%;
    padding: 3% 0% 3% 0%;
  }
}

.more__btn:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 60px -20px var(--quaternay-color);
  opacity: 0.8;
}

.fa-regular.fa-heart {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 230%;
}
@media (700px <= width <= 992px) {
  .fa-regular.fa-heart {
    font-size: 250%;
  }
}

.fa-regular.fa-heart:hover {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
}

.valid input {
  position: absolute;
  width: 15%;
  background-color: #99E2D0;
}

.dish__content__resto__menu__box__icon {
  width: 0%;
  transition: opacity 1s, width 1s;
}
.dish__content__resto__menu__box__icon .fa-solid.fa-check {
  font-size: 1rem;
  color: #15DEA5;
  opacity: 0;
}

.dish__content__resto__menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0;
  border-radius: 40px;
  padding: 4% 0% 4% 0%;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 6px 0.1px var(--quaternay-color);
  background: linear-gradient(to right bottom, var(--second-color) 0%, var(--main-color) 100%);
  color: white;
  margin-bottom: 50px;
  transform: scale(1);
  transition: all 0.5s;
  margin: 100px 0px 40px 0px;
  width: 50%;
  font-size: 130%;
}
@media (700px <= width <= 992px) {
  .btn {
    width: 45%;
    font-size: 170%;
    padding: 2.5% 0% 2.5% 0%;
  }
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 60px -20px var(--quaternay-color);
  opacity: 0.8;
}

#animate__loader {
  position: fixed;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 10px solid #9356dc;
  border-right: 10px solid #ff79da;
  border-bottom: 10px solid #99E2D0;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#animate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  background-color: #EAEAEA;
  width: 100%;
  height: 100%;
  -webkit-animation-name: animateloader;
  -webkit-animation-duration: 3s;
  animation-name: animateloader;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes animateloader {
  0% {
    -webkit-opacity: 1;
  }
  50% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    -webkit-z-index: -1;
  }
}
@keyframes animateloader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 50px 0px 80px 0px;
}
.board__title {
  display: flex;
  align-items: flex-start;
  width: 90%;
  font-size: 180%;
}
.board__stage {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: relative;
  width: 90%;
}
.board__stage__icone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 70px;
  padding-left: 30px;
  gap: 10%;
  font-size: 110%;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 1.5px 1.5px 10px -2px #353535;
}
@media (700px <= width <= 992px) {
  .board__stage__icone {
    height: 90px;
    padding-left: 70px;
    font-size: 130%;
  }
}
.board__stage__icone:hover {
  background-color: rgba(147, 86, 220, 0.3);
  box-shadow: 1.5px 1.5px 15px -2px #353535;
}
.board__stage__icone:hover i {
  color: #9356dc;
}
.board__stage__path {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #9356dc;
  background-color: #9356dc;
  border-radius: 40px;
  padding: 13px;
  margin-right: -12px;
  width: 25px;
  height: 25px;
  z-index: 1;
}
@media (700px <= width <= 992px) {
  .board__stage__path {
    width: 35px;
    height: 35px;
  }
}
.board__stage__path__first {
  font-size: 80%;
  color: white;
}
@media (700px <= width <= 992px) {
  .board__stage__path__first {
    font-size: 100%;
  }
}

.footer {
  padding: 10% 0% 10% 10%;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-weight: 300;
  margin-top: 15%;
  background-color: black;
}
@media (700px <= width <= 992px) {
  .footer {
    line-height: 60px;
    padding: 10%;
  }
}
.footer__logo {
  color: white;
  font-size: 150%;
  font-weight: 300;
}
@media (700px <= width <= 992px) {
  .footer__logo {
    font-size: 180%;
    margin-bottom: 4%;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media (700px <= width <= 992px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__container__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__container a {
  cursor: pointer;
  color: white;
  font-size: 125%;
}
@media (700px <= width <= 992px) {
  .footer__container a {
    font-size: 150%;
  }
}

.head__logo {
  position: relative;
  font-size: 150%;
  width: 100%;
  height: 80px;
  box-shadow: 0px 1.5px 5px #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  height: auto;
}
.more__propose {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.more__propose__argument {
  padding: 5% 0% 8% 0%;
  width: 90%;
  font-size: 130%;
  font-weight: 300;
  text-align: center;
}
.more__propose__reserve {
  padding-top: 10%;
  width: 70%;
  font-size: 170%;
  text-align: center;
}

.palette {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 170%;
  padding: 4%;
}

.fa-sharp.fa-solid.fa-arrow-left {
  color: black;
}

.dish__content {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  background-color: #F6F6F6;
  border: 0;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
}
.dish__content__resto {
  display: block;
  margin: auto;
  width: 95%;
}
.dish__content__resto__heart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  align-items: baseline;
}
.dish__content__resto__heart__palette {
  margin-top: 50px;
  font-size: 200%;
  font-weight: 300;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__heart__palette {
    margin-top: 70px;
    font-size: 220%;
  }
}
.dish__content__resto__menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu {
    gap: 45px;
  }
}
.dish__content__resto__menu h4 {
  font-size: 120%;
  font-weight: 300;
  margin: 60px 0px 30px 0px;
  border-bottom-width: 30%;
  font-size: 120%;
  position: relative;
  line-height: 5%;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu h4 {
    font-size: 140%;
    margin-top: 10%;
  }
}
.dish__content__resto__menu h4:before {
  content: "    ";
  position: absolute;
  left: 0;
  top: 1rem;
  height: 0;
  width: 3rem;
  border-top: 4px solid #99E2D0;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu h4:before {
    width: 3.5rem;
    top: 2rem;
  }
}
.dish__content__resto__menu__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
  opacity: 0;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1.5px 1.5px 10px -2px #353535;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu__box {
    height: 120px;
  }
}
.dish__content__resto__menu__box:hover .dish__content__resto__menu__box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: auto;
  border: 2px solid #99E2D0;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  opacity: 0.8;
}
.dish__content__resto__menu__box:hover .dish__content__resto__menu__box__icon__check {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  background-color: white;
}
.dish__content__resto__menu__box:hover .dish__content__resto__menu__box__icon .fa-solid.fa-check {
  font-size: 1rem;
  color: #99E2D0;
  opacity: 1;
}
.dish__content__resto__menu__box__change {
  display: flex;
  flex-direction: column;
  padding: 4%;
  min-width: 80%;
  width: 100%;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu__box__change {
    font-size: 120%;
  }
}
.dish__content__resto__menu__box__change__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (700px <= width <= 992px) {
  .dish__content__resto__menu__box__change__price {
    font-size: 120%;
  }
}
.dish__content__resto__menu__box__change__price p {
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes progressive-card {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.box1 {
  animation: progressive-card 3s forwards;
  animation-delay: 1s;
}

.box2 {
  animation: progressive-card 3s forwards;
  animation-delay: 1.5s;
}

.box3 {
  animation: progressive-card 3s forwards;
  animation-delay: 2s;
}

.box4 {
  animation: progressive-card 4s forwards;
  animation-delay: 2.5s;
}

.box5 {
  animation: progressive-card 4s forwards;
  animation-delay: 3s;
}

.box6 {
  animation: progressive-card 3s forwards;
  animation-delay: 3.5s;
}

.box7 {
  animation: progressive-card 3s forwards;
  animation-delay: 4s;
}

.box8 {
  animation: progressive-card 3s forwards;
  animation-delay: 4.5s;
}

.box9 {
  animation: progressive-card 3s forwards;
  animation-delay: 5s;
}

.box10 {
  animation: progressive-card 3s forwards;
  animation-delay: 5.5s;
}

.restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-top: 12%;
}
.restaurant__various {
  position: relative;
  background-color: white;
  border-radius: 20px;
  margin-top: 10%;
  width: 95%;
  height: 340px;
  box-shadow: 0px 2px 25px #353535;
}
@media (700px <= width <= 992px) {
  .restaurant__various {
    height: 380px;
  }
}
.restaurant__various__img {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 240px;
}
@media (700px <= width <= 992px) {
  .restaurant__various__img {
    height: 280px;
  }
}
.restaurant__various__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.restaurant__various__text__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3.5% 0% 0% 3.5%;
  line-height: 30px;
  color: black;
  font-size: 125%;
}
@media (700px <= width <= 992px) {
  .restaurant__various__text__description {
    padding: 2% 0% 0% 3.5%;
    font-size: 130%;
  }
}
.restaurant__various__text__description h5 {
  font-size: 120%;
  font-weight: bold;
}
.restaurant .new {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  font-size: 120%;
  font-weight: bold;
  position: absolute;
  padding: 3%;
  top: 5%;
  left: 70%;
  border: 0;
  border-radius: 4px;
  width: 25%;
  height: 40px;
  z-index: 1;
  background-color: #99E2D0;
}
@media (700px <= width <= 992px) {
  .restaurant .new {
    border-radius: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
